body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6;
}

/* Header Navigation */
header {
  height: 65px;
  background-color: #f5f5f5;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .left .title {
  line-height: 60px;
  margin-left: 20px;
  font-size: 0.9rem;
}

header .left {
  margin: 0 190px;
}

header .nav.container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 190px;
}

header .nav.container button {
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f9fafb;
}

header .nav.container button:hover {
  background-color: #e2e8f0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

a:hover {
  color: rgb(200, 200, 200);
}

button {
  cursor: pointer;
}

/* Section Home */
.home {
  height: 412px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 281px;
}

.home p {
  font-size: 1.2rem;
  color: rgba(51, 65, 85, 0.8);
}

.home .home-content {
  width: 502px;
}

.home .home-content h1 {
  font-size: 2.5rem;
}

.home .home-content .buttons a {
  width: 164px;
  height: 50px;
  padding: 0 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 24.5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f2f3f5;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 12px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.home .home-content .buttons a:hover {
  color: white;
  background: #00b7ff;
  background: linear-gradient(
    150deg,
    rgba(0, 183, 255, 1) 0%,
    rgba(87, 199, 133, 1) 100%
  );
  font-weight: bold;
}

.home .home-image img {
  width: 180px;
  height: 180px;
  clip-path: circle(50%);
  background: #00b7ff;
  background: linear-gradient(
    116deg,
    rgba(0, 183, 255, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(87, 199, 133, 1) 100%
  );
}

.home .home-image img:hover {
  transform: scale(1.1);
  animation: rotateImage 3s infinite linear;
  transition: all 0.3s ease;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home .home-image p {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: #474d5c;
  padding: 12px 15px;
  border-radius: 25px;
}

.home .home-image p:hover {
  background-color: #00b7ff;
  background: linear-gradient(
    150deg,
    rgba(0, 183, 255, 1) 0%,
    rgba(87, 199, 133, 1) 100%
  );
  transition: all 0.3s ease;
}

.about {
  height: 300px;
  background-color: #e9ebee;
}

.about .content {
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

.about .content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about .content p {
  font-size: 1.3rem;
  color: rgba(51, 65, 85, 0.8);
  line-height: 1.6;
}

.skills {
  height: 350px;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 50px;
}

.skills h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.skills .skills-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.skills .skills-container .skill {
  width: 334px;
  height: 161px;
  background-color: white;
  padding: 0px 0 0 25px;
  border-radius: 25px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.skills .skills-container .skill:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.skills .skills-container .skill p {
  width: 280px;
}

/* Setup Projects */
.projects {
  height: 480px;
  background-color: #e9ebee;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects .content {
  margin-left: 220px;
}

.projects .content h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.projects .content p {
  color: rgba(51, 65, 85, 0.8);
  margin-bottom: 20px;
}

.projects .content .projects-container {
  display: flex;
  justify-content: flex-start;

  gap: 20px;
  margin-bottom: 30px;
}

.projects .content .projects-container .project {
  width: 320px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 0px 20px 0px 25px;
}

.projects .projects-container .project:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.projects .projects-container .project .project-tags {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.projects .projects-container .project .project-tags span {
  background-color: #e9effd;
  color: #0a66c2;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
}

.projects .projects-container .project .project-tags span:hover,
button:hover {
  animation: highlightTag 2s infinite;
}

@keyframes highlightTag {
  0% {
    background-color: #e9effd;
    color: #0a66c2;
  }
  50% {
    background-color: #0a66c2;
    color: white;
  }
  100% {
    background-color: #e9effd;
    color: #0a66c2;
  }
}

.projects button {
  width: 164px;
  height: 50px;
  padding: 0 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 24.5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f2f3f5;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Setup Footer */

footer {
  height: 130px;
  background-color: #102a43;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
